<router-outlet></router-outlet>
<div fxLayoutAlign = "center center" class="maindiv">
    <mat-card fxFlex = "30">
        <mat-toolbar class="titulo">Nutricionista</mat-toolbar>

        <form fxLayoutAlign="stretch" fxLayout="column" class="registration-form">

            <mat-form-field>
                <input matInput name="cedula" maxlength='8' [(ngModel)]="cedula" type="number" placeholder="Cedula">
            </mat-form-field>

            <mat-form-field>
                <input matInput name="nombre" [(ngModel)]="nombre" type="text" placeholder="Primer nombre">
            </mat-form-field>

            <mat-form-field>
                <input matInput name="1erApellido" [(ngModel)]="apellido1" type="text" placeholder="1er Apellido">
            </mat-form-field>

            <mat-form-field>
                <input matInput name="2doApellido" [(ngModel)]="apellido2" type="text" placeholder="2do Apellido">
            </mat-form-field>

            <button color="warn" mat-raised-button (click)="getEdad(edad.id)">Edad</button>
            <mat-label style = "padding:15px" name="edad" ngDefaultControl [(ngModel)]="data.edad" #edad id="edad"></mat-label>

            <mat-form-field>
                <input matInput name="fecha_nacimiento" [(ngModel)]="fecha_nacimiento" type="date" useValueAsDate placeholder="Fecha de nacimiento">
            </mat-form-field>

            <mat-form-field>
                <input matInput name="peso" [(ngModel)]="peso" type="number" placeholder="Peso (kg)">
            </mat-form-field>

            <mat-form-field>
                <input matInput name="imc" [(ngModel)]="imc" type="number" placeholder="IMC">
            </mat-form-field>

            <mat-form-field>
                <input matInput name="direccion" [(ngModel)]="direccion" placeholder="Direccion">
            </mat-form-field>

            <mat-form-field>
                <input matInput name="tarjeta" [(ngModel)]="tarjeta" type="number" placeholder="Tarjeta de Credito" class = "tarjeta">
            </mat-form-field>

            <div *ngFor = "let tipo of tipos">
                <input 
                type="radio"
                name="tipo_cobro"
                value="{{tipo}}"
                (change)="radioChangeHandler($event)">
                <i>{{tipo}}</i> 
            </div>

            <p><span>Tipo de cobro seleccionado: </span><b>{{selected_tipo}}</b></p>
            
            <mat-form-field>
                <input matInput name="correo" [(ngModel)]="correo" placeholder="Correo electronico">
            </mat-form-field>

            <mat-form-field>
                <input matInput name="contrasena" [(ngModel)]="contrasena" type="password" placeholder="Contraseña">
            </mat-form-field>

            <input (change)="capturarImagen($event)" style="padding:15px" name="imagen" type="file">
            <img fxLayoutAlign="stretch" [src]="url_image" class="foto">

            <form fxLayoutAlign="stretch" fxLayout="column">
                <button (click)="Registrar()" style="margin: 10px" mat-icon-button class="button-form">
                    <mat-icon>check_circle_outline</mat-icon>
                </button>
            </form>

        </form>
    </mat-card>

</div>