<router-outlet></router-outlet>
<div [style.background-image]="'url(/assets/images/manzana.png)'" fxLayoutAlign = "center center" fxFlexFill class="main-div">
    <mat-card fxFlex = "75" class="card">
        <mat-toolbar class="titulo">Registrarse como:</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="panel-form">
            <form fxLayoutAlign="stretch" fxLayout="rows">
                <button (click)  = "navToLogin()" mat-icon-button color="primary"> 
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <button (click) = "navToAdminRegistration()" class="buttonadmin" mat-raised-button >Administrador</button>
                <button (click) = "navToNutriRegistration()" class="buttonadmin" mat-raised-button>Nutricionista</button>
                <button (click) = "navToUserRegistration()" class="buttonadmin" mat-raised-button>Usuario</button>

            </form>
        </form>
          
    </mat-card>
</div>