<div [style.background-image]="'url(/assets/images/zanahoria.png)'" fxLayoutAlign = "center center" fxFlexFill class="main-div">
    <mat-card fxFlex = "25">
        <mat-toolbar color="warn">NutriTEC</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
            <mat-form-field>
                <input matInput placeholder="Usuario">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" placeholder="Contraseña">
            </mat-form-field>

            <form fxLayoutAlign="stretch" fxLayout="column" class="button-form">
                <button color="warn" style="background-color: aqua;" mat-raised-button>Iniciar</button>
                <button (click)="navToRegistrationNutri()" mat-raised-button class = "button-nutri">Registrarse como Nutricionista</button>
                <button (click)="getData()" mat-raised-button class = "button-nutri">Registrarse como Cliente</button>
            
            </form>
        </form>    
    </mat-card>
</div>
