<div fxLayoutAlign = "center center" fxFlexFill class="main-div">
    <mat-card fxFlex = "25">
        <mat-toolbar class="titulo">NutriTEC</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
            <mat-form-field>
                <input matInput name="Correo" [(ngModel)]="correo" type="email" placeholder="Correo">
            </mat-form-field>

            <mat-form-field>
                <input matInput name="Contraseña" type="password" [(ngModel)]="passw" placeholder="Contraseña">
            </mat-form-field>

            <form fxLayoutAlign="stretch" fxLayout="column" class="button-form">
                <button color="warn" style="background-color:coral" (click) = "Autenticar()" mat-raised-button>Iniciar</button>
                <mat-label class="label">Registrate como:</mat-label>
                <button (click)="navToRegistroNutri()" mat-raised-button style="margin-top: 10px;" class = "button-registro">Nutricionista</button>
                <button (click)="navToRegistroCliente()" mat-raised-button class = "button-registro">Cliente</button>

            </form>
        </form>
    </mat-card>
</div>