<router-outlet></router-outlet>
<div class="maindiv">
    <mat-toolbar class="two">
        <img src="/assets/images/perfil.png" class="profpic">
        <h1>Bienvenido
            <span>{{correo}}</span>
        </h1>
    </mat-toolbar>

    <form class="panel">
        <mat-accordion [multi]="true">
            <!---------------------------------------------->
            <!-- PANEL DE GESTION DE PRODUCTOS Y PLATILLOS-->
            <!---------------------------------------------->
            <mat-expansion-panel class="subpanel">
                <mat-expansion-panel-header>
                    <mat-panel-title class="titulo">
                        Mis Productos y platillos
                    </mat-panel-title>
                    <mat-panel-description>
                        Lista de espera de aprobacion
                    </mat-panel-description>
                </mat-expansion-panel-header>

                    <!--//////////////////////////////-->
                    <!-- Contenido del panel PRODUCTOS-->
                    <!--//////////////////////////////-->
                    <!-- SUBPANEL AGREGAR PRODUCTOS -->
                    <mat-expansion-panel style="background-color:peru;">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="subtitulo">
                                Agregar productos
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <!-- Contenido del subpanel AGREGAR PRODUCTOS-->
                        <form fxLayoutAlign="stretch" fxLayout="column" style="padding: 20px">
                            <mat-form-field>
                                <input matInput name="descripcion" [(ngModel)]="descripcion" style="color:white" type="text" placeholder="Descripción">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput name="porcion" [(ngModel)]="porcion" style="color:white" type="number" placeholder="Tamaño de la porcion (g/ml)">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput name="energia" [(ngModel)]="energia" style="color:white" type="number" placeholder="energía (Kcal)">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput name="grasa" [(ngModel)]="grasa" style="color:white" type="number" placeholder="grasa(g)">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput name="sodio" [(ngModel)]="sodio" style="color:white" type="number" placeholder="sodio(mg)">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput name="carbohidratos" [(ngModel)]="carbohidratos" style="color:white" type="number" placeholder="carbohidratos(g)">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput name="proteina" [(ngModel)]="proteina" style="color:white" type="number" placeholder="proteína (g)">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput name="vitaminas" [(ngModel)]="vitaminas" style="color:white" type="text" placeholder="Vitaminas">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput name="calcio" [(ngModel)]="calcio" style="color:white" type="number" placeholder="Calcio(mg)">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput name="hierro" [(ngModel)]="hierro" style="color:white" type="number" placeholder=" Hierro(mg)">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput name="codigo" [(ngModel)]="codigo_barras" style="color:white" type="number" placeholder="Codigo de barras">
                            </mat-form-field>
                            <button color="warn" style="background-color:rgb(148, 52, 0)"
                                mat-raised-button (click)="agregarProducto()"> Agregar</button>
                        </form>
                    </mat-expansion-panel>
                    <!-- SUBPANEL LISTA DE PRODUCTOS -->
                    <mat-expansion-panel style="background-color:peru;margin-top: 20px;">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="subtitulo">
                                Lista de productos agregados
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <!-- Contenido del subpanel LISTA DE PRODUCTOS-->

                        <table mat-table #producto [dataSource]="dataSourceProducto" style="width: 100%;">

                            <!--- TABLA DE PRODUCTOS AGREGADOS -->

                            <!-- Columna de codigo -->
                            <ng-container matColumnDef="codigo_barras">
                                <th mat-header-cell *matHeaderCellDef> Código </th>
                                <td mat-cell *matCellDef="let element"> {{element.codigo_barras}} </td>
                            </ng-container>

                            <!-- Columna de descripcion -->
                            <ng-container matColumnDef="descripcion">
                                <th mat-header-cell *matHeaderCellDef> Descripción </th>
                                <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                            </ng-container>

                            <!-- Columna de porcion -->
                            <ng-container matColumnDef="porcion">
                                <th mat-header-cell *matHeaderCellDef> Porción </th>
                                <td mat-cell *matCellDef="let element"> {{element.porcion}} </td>
                            </ng-container>

                            <!-- Columna de energia -->
                            <ng-container matColumnDef="energia">
                                <th mat-header-cell *matHeaderCellDef> Energía (Kcal) </th>
                                <td mat-cell *matCellDef="let element"> {{element.energia}} </td>
                            </ng-container>

                            <!-- Columna de grasa -->
                            <ng-container matColumnDef="grasa">
                                <th mat-header-cell *matHeaderCellDef> Grasa (g) </th>
                                <td mat-cell *matCellDef="let element"> {{element.grasa}} </td>
                            </ng-container>

                            <!-- Columna de sodio -->
                            <ng-container matColumnDef="sodio">
                                <th mat-header-cell *matHeaderCellDef> Sodio (mg) </th>
                                <td mat-cell *matCellDef="let element"> {{element.sodio}} </td>
                            </ng-container>

                            <!-- Columna de carbs -->
                            <ng-container matColumnDef="carbohidratos">
                                <th mat-header-cell *matHeaderCellDef> Carbohidratos (g) </th>
                                <td mat-cell *matCellDef="let element"> {{element.carbohidratos}} </td>
                            </ng-container>

                            <!-- Columna de proteina -->
                            <ng-container matColumnDef="proteina">
                                <th mat-header-cell *matHeaderCellDef> Proteína (g) </th>
                                <td mat-cell *matCellDef="let element"> {{element.proteina}} </td>
                            </ng-container>

                            <!-- Columna de calcio -->
                            <ng-container matColumnDef="calcio">
                                <th mat-header-cell *matHeaderCellDef> Calcio (mg) </th>
                                <td mat-cell *matCellDef="let element"> {{element.calcio}} </td>
                            </ng-container>

                            <!-- Columna de hierro -->
                            <ng-container matColumnDef="hierro">
                                <th mat-header-cell *matHeaderCellDef> Hierro (mg) </th>
                                <td mat-cell *matCellDef="let element"> {{element.hierro}} </td>
                            </ng-container>

                            <!-- Columna de vitas -->
                            <ng-container matColumnDef="vitaminas">
                                <th mat-header-cell *matHeaderCellDef> Vitaminas </th>
                                <td mat-cell *matCellDef="let element"> {{element.vitaminas}} </td>
                            </ng-container>

                            <!-- Columna de estado -->
                            <ng-container matColumnDef="estado">
                                <th mat-header-cell *matHeaderCellDef> Estado </th>
                                <td mat-cell *matCellDef="let element"> {{element.lista_espera}} </td>
                            </ng-container>

                            <!-- Columna de boton eliminar -->
                            <ng-container matColumnDef="actions">
                                <mat-header-cell  *matHeaderCellDef style="margin-top:19px;">Eliminar</mat-header-cell>
                                <mat-cell *matCellDef="let row" >
                                     <button mat-icon-button [disabled]="!dataSourceProducto.length" (click)="eliminarProducto(row)">
                                        <mat-icon>delete</mat-icon>
                                     </button>
                                </mat-cell>
                            </ng-container>



                            <tr mat-header-row *matHeaderRowDef="displayedColumnsProducto"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsProducto;"></tr>
                        </table>

                    </mat-expansion-panel>
            </mat-expansion-panel>

            <!---------------------------------------------->
            <!-- PANEL DE GESTION DE CLIENTES Y PACIENTES -->
            <!---------------------------------------------->
            <mat-expansion-panel style="margin-top: 20px;background-color:rgb(148, 52, 0)">
                <mat-expansion-panel-header>
                    <mat-panel-title class="titulo">
                        Búsqueda y Asociación de clientes
                    </mat-panel-title>
                    <mat-panel-description>
                        Asocia tu cliente en tu lista xD
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <table mat-table #cliente [dataSource]="dataSourceCliente" style="width: 100%;">

                    <!--- TABLA DE CLIENTES DISPONIBLES -->

                    <!-- Columna de cedula -->
                    <ng-container matColumnDef="cedula">
                        <th mat-header-cell *matHeaderCellDef> Cedula </th>
                        <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
                    </ng-container>

                    <!-- Columna de nombre -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                    </ng-container>

                    <!-- Columna de apellido -->
                    <ng-container matColumnDef="apellido">
                        <th mat-header-cell *matHeaderCellDef> Apellido </th>
                        <td mat-cell *matCellDef="let element"> {{element.p_apellido}} </td>
                    </ng-container>

                    <!-- Columna de pais -->
                    <ng-container matColumnDef="pais">
                        <th mat-header-cell *matHeaderCellDef> Pais </th>
                        <td mat-cell *matCellDef="let element"> {{element.pais}} </td>
                    </ng-container>


                    <!-- Columna de boton eliminar -->
                    <ng-container matColumnDef="actionss">
                        <mat-header-cell  *matHeaderCellDef style="margin-top:19px;">Asociar</mat-header-cell>
                        <mat-cell *matCellDef="let row" >
                             <button mat-icon-button [disabled]="!dataSourceCliente.length" (click)="asociarCliente(row)">
                                <mat-icon>add</mat-icon>
                             </button>
                        </mat-cell>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumnsCliente"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsCliente;"></tr>
                </table>

                
                <table mat-table #paciente [dataSource]="dataSourcePaciente" style="width: 100%; margin-top: 20px;">

                    <!--- TABLA DE CLIENTES AGREGADOS -->

                    <!-- Columna de cedula -->
                    <ng-container matColumnDef="cedula">
                        <th mat-header-cell *matHeaderCellDef> Cedula </th>
                        <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
                    </ng-container>

                    <!-- Columna de nombre -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                    </ng-container>

                    <!-- Columna de apellido -->
                    <ng-container matColumnDef="apellido">
                        <th mat-header-cell *matHeaderCellDef> Apellido </th>
                        <td mat-cell *matCellDef="let element"> {{element.p_apellido}} </td>
                    </ng-container>

                    <!-- Columna de pais -->
                    <ng-container matColumnDef="pais">
                        <th mat-header-cell *matHeaderCellDef> Pais </th>
                        <td mat-cell *matCellDef="let element"> {{element.pais}} </td>
                    </ng-container>


                    <!-- Columna de boton eliminar -->
                    <ng-container matColumnDef="actionss">
                        <mat-header-cell  *matHeaderCellDef style="margin-top:19px;">Eliminar</mat-header-cell>
                        <mat-cell *matCellDef="let row" >
                             <button mat-icon-button [disabled]="!dataSourcePaciente.length">
                                <mat-icon>add</mat-icon>
                             </button>
                        </mat-cell>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumnsCliente"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsCliente;"></tr>
                </table>

            </mat-expansion-panel>
        </mat-accordion>
    </form>
</div>
