<router-outlet></router-outlet>
<div fxLayoutAlign = "center center" fxFlexFill class="maindiv">
    <mat-card fxFlex = "25" class="card">
        <mat-toolbar class="titulo" class="titulo">Registro de administrador</mat-toolbar>
        
        <form fxLayoutAlign="stretch" fxLayout="column" class="registration-form">
            <mat-form-field>
                <input matInput placeholder="Email">
            </mat-form-field>
            
            <mat-form-field>
                <input matInput type="password" placeholder="Contraseña">
            </mat-form-field>
            
            <mat-form-field>
                <input matInput type="password" placeholder="Confirme su contraseña">
            </mat-form-field>

            <form fxLayoutAlign="stretch" fxLayout="column">
                <button color="warn"style="margin: 10px" mat-icon-button class="button-form">
                    <mat-icon>check_circle_outline</mat-icon>
                </button>
            </form>
        </form>
    </mat-card>

</div>