.maindiv{
    background-image: url('/assets/images/banano.png');
    background-size: 100px;  
    background-size: 100px; 
}

.maindiv mat-card{
    padding: 0px;
}

.registration-form{
    padding:20px;
}

.titulo{
    background-color:goldenrod;
    color:white;
}


