<router-outlet></router-outlet>
<div class="maindiv">>
  <form class="panel">
    <mat-accordion>


      <mat-expansion-panel class="subpanel">
        <mat-expansion-panel-header>
            <mat-panel-title class="titulo">
                Mi registro diario
            </mat-panel-title>
            <mat-panel-description>
                Fecha de hoy:
            </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel class = "subpanel" style="margin-top: 20px; ">
        <mat-expansion-panel-header>
            <mat-panel-title class="titulo">
                Mis recetas
            </mat-panel-title>
            <mat-panel-description>
                Recetas creadas por mi
            </mat-panel-description>
        </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel class = "subpanel" style="margin-top: 20px; ">
      <mat-expansion-panel-header>
          <mat-panel-title class="titulo">
              Mi registro de peso
          </mat-panel-title>
          <mat-panel-description>
              Historial de peso
          </mat-panel-description>
      </mat-expansion-panel-header>
  </mat-expansion-panel>


    </mat-accordion>
  </form>
</div>
