<router-outlet></router-outlet>
<div>
  <form class="panel">
    <mat-accordion>
      <mat-expansion-panel class="subpanel">
        <mat-expansion-panel-header>
            <mat-panel-title class="titulo">
                Mis Productos y platillos
            </mat-panel-title>
            <mat-panel-description>
                Lista de espera de aprobacion
            </mat-panel-description>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="dataSource" style="width: 100%;">

          <!--- TABLA DE PRODUCTOS AGREGADOS -->

          <!-- Columna de codigo -->
          <ng-container matColumnDef="codigo_barras">
              <th mat-header-cell *matHeaderCellDef> Código </th>
              <td mat-cell *matCellDef="let element"> {{element.codigo_barras}} </td>
          </ng-container>

          <!-- Columna de descripcion -->
          <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef> Descripción </th>
              <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
          </ng-container>

          <!-- Columna de porcion -->
          <ng-container matColumnDef="porcion">
              <th mat-header-cell *matHeaderCellDef> Porción </th>
              <td mat-cell *matCellDef="let element"> {{element.porcion}} </td>
          </ng-container>

          <!-- Columna de energia -->
          <ng-container matColumnDef="energia">
              <th mat-header-cell *matHeaderCellDef> Energía (Kcal) </th>
              <td mat-cell *matCellDef="let element"> {{element.energia}} </td>
          </ng-container>

          <!-- Columna de grasa -->
          <ng-container matColumnDef="grasa">
              <th mat-header-cell *matHeaderCellDef> Grasa (g) </th>
              <td mat-cell *matCellDef="let element"> {{element.grasa}} </td>
          </ng-container>

          <!-- Columna de sodio -->
          <ng-container matColumnDef="sodio">
              <th mat-header-cell *matHeaderCellDef> Sodio (mg) </th>
              <td mat-cell *matCellDef="let element"> {{element.sodio}} </td>
          </ng-container>

          <!-- Columna de carbs -->
          <ng-container matColumnDef="carbohidratos">
              <th mat-header-cell *matHeaderCellDef> Carbohidratos (g) </th>
              <td mat-cell *matCellDef="let element"> {{element.carbohidratos}} </td>
          </ng-container>

          <!-- Columna de proteina -->
          <ng-container matColumnDef="proteina">
              <th mat-header-cell *matHeaderCellDef> Proteína (g) </th>
              <td mat-cell *matCellDef="let element"> {{element.proteina}} </td>
          </ng-container>

          <!-- Columna de calcio -->
          <ng-container matColumnDef="calcio">
              <th mat-header-cell *matHeaderCellDef> Calcio (mg) </th>
              <td mat-cell *matCellDef="let element"> {{element.calcio}} </td>
          </ng-container>

          <!-- Columna de hierro -->
          <ng-container matColumnDef="hierro">
              <th mat-header-cell *matHeaderCellDef> Hierro (mg) </th>
              <td mat-cell *matCellDef="let element"> {{element.hierro}} </td>
          </ng-container>

          <!-- Columna de vitas -->
          <ng-container matColumnDef="vitaminas">
              <th mat-header-cell *matHeaderCellDef> Vitaminas </th>
              <td mat-cell *matCellDef="let element"> {{element.vitaminas}} </td>
          </ng-container>

          <!-- Columna de estado -->
          <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef> Estado </th>
              <td mat-cell *matCellDef="let element"> {{element.lista_espera}} </td>
          </ng-container>

          <!-- Columna de boton eliminar -->
          <ng-container matColumnDef="actions">
              <mat-header-cell  *matHeaderCellDef style="margin-top:19px;">Eliminar</mat-header-cell>
              <mat-cell *matCellDef="let row" >
                   <button mat-icon-button [disabled]="!dataSource.length" (click)="eliminarProducto(row)">
                      <mat-icon>delete</mat-icon>
                   </button>
                   <button mat-icon-button [disabled]="!dataSource.length" (click)="aceptarProducto(row)">
                    <mat-icon>add_circle_outline</mat-icon>
                 </button>
              </mat-cell>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
