<router-outlet></router-outlet>
<div class="maindiv">>
  <form class="panel">
    <mat-accordion>
      <mat-expansion-panel class="subpanel">
        <mat-expansion-panel-header>
            <mat-panel-title class="titulo">
                Lista de productos en espera a ser aprobados
            </mat-panel-title>
            <mat-panel-description>
                Aquí se mostrarán los productos pendientes de aprobación
            </mat-panel-description>
        </mat-expansion-panel-header>


        <table mat-table #productos [dataSource]="dataSource" style="width: 100%;">

          <!--- TABLA DE PRODUCTOS AGREGADOS -->

          <!-- Columna de codigo -->
          <ng-container matColumnDef="codigo_barras">
              <th mat-header-cell *matHeaderCellDef> Código </th>
              <td mat-cell *matCellDef="let element"> {{element.codigo_barras}} </td>
          </ng-container>

          <!-- Columna de descripcion -->
          <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef> Descripción </th>
              <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
          </ng-container>

          <!-- Columna de porcion -->
          <ng-container matColumnDef="porcion">
              <th mat-header-cell *matHeaderCellDef> Porción </th>
              <td mat-cell *matCellDef="let element"> {{element.porcion}} </td>
          </ng-container>

          <!-- Columna de energia -->
          <ng-container matColumnDef="energia">
              <th mat-header-cell *matHeaderCellDef> Energía (Kcal) </th>
              <td mat-cell *matCellDef="let element"> {{element.energia}} </td>
          </ng-container>

          <!-- Columna de grasa -->
          <ng-container matColumnDef="grasa">
              <th mat-header-cell *matHeaderCellDef> Grasa (g) </th>
              <td mat-cell *matCellDef="let element"> {{element.grasa}} </td>
          </ng-container>

          <!-- Columna de sodio -->
          <ng-container matColumnDef="sodio">
              <th mat-header-cell *matHeaderCellDef> Sodio (mg) </th>
              <td mat-cell *matCellDef="let element"> {{element.sodio}} </td>
          </ng-container>

          <!-- Columna de carbs -->
          <ng-container matColumnDef="carbohidratos">
              <th mat-header-cell *matHeaderCellDef> Carbohidratos (g) </th>
              <td mat-cell *matCellDef="let element"> {{element.carbohidratos}} </td>
          </ng-container>

          <!-- Columna de proteina -->
          <ng-container matColumnDef="proteina">
              <th mat-header-cell *matHeaderCellDef> Proteína (g) </th>
              <td mat-cell *matCellDef="let element"> {{element.proteina}} </td>
          </ng-container>

          <!-- Columna de calcio -->
          <ng-container matColumnDef="calcio">
              <th mat-header-cell *matHeaderCellDef> Calcio (mg) </th>
              <td mat-cell *matCellDef="let element"> {{element.calcio}} </td>
          </ng-container>

          <!-- Columna de hierro -->
          <ng-container matColumnDef="hierro">
              <th mat-header-cell *matHeaderCellDef> Hierro (mg) </th>
              <td mat-cell *matCellDef="let element"> {{element.hierro}} </td>
          </ng-container>

          <!-- Columna de vitas -->
          <ng-container matColumnDef="vitaminas">
              <th mat-header-cell *matHeaderCellDef> Vitaminas </th>
              <td mat-cell *matCellDef="let element"> {{element.vitaminas}} </td>
          </ng-container>

          <!-- Columna de estado -->
          <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef> Estado </th>
              <td mat-cell *matCellDef="let element"> {{element.lista_espera}} </td>
          </ng-container>

          <!-- Columna de boton eliminar -->
          <ng-container matColumnDef="actions">
              <mat-header-cell  *matHeaderCellDef style="margin-top:19px;">Eliminar</mat-header-cell>
              <mat-cell *matCellDef="let row" >
                   <button mat-icon-button [disabled]="!dataSource.length" (click)="eliminarProducto(row)">
                      <mat-icon>delete</mat-icon>
                   </button>
                   <button mat-icon-button [disabled]="!dataSource.length" (click)="aceptarProducto(row)">
                    <mat-icon>add_circle_outline</mat-icon>
                 </button>
              </mat-cell>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      </mat-expansion-panel>

      <mat-expansion-panel class = "subpanel" style="margin-top: 20px; ">
        <mat-expansion-panel-header>
            <mat-panel-title class="titulo">
                Reporte de cobros
            </mat-panel-title>
            <mat-panel-description>
                Lista de nutricionistas asociados a NutriTEC
            </mat-panel-description>
        </mat-expansion-panel-header>

        <table mat-table #cobros [dataSource]="dataSourceCobros" style="width: 100%;">

          <!--- REPORTE DE COBROS A LOS NUTRICIONISTAS  -->

          <!-- Columna de n_cedula -->
          <ng-container matColumnDef="n_cedula">
              <th mat-header-cell *matHeaderCellDef> Cédula </th>
              <td mat-cell *matCellDef="let element"> {{element.n_cedula}} </td>
          </ng-container>

          <!-- Columna de nombre -->
          <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>

          <!-- Columna de p_apellido -->
          <ng-container matColumnDef="p_apellido">
              <th mat-header-cell *matHeaderCellDef> 1er Apellido </th>
              <td mat-cell *matCellDef="let element"> {{element.p_apellido}} </td>
          </ng-container>

          <!-- Columna de s_apellido -->
          <ng-container matColumnDef="s_apellido">
              <th mat-header-cell *matHeaderCellDef> 2do Apellido </th>
              <td mat-cell *matCellDef="let element"> {{element.s_apellido}} </td>
          </ng-container>

          <!-- Columna de tarjetacredito -->
          <ng-container matColumnDef="tarjetacredito">
              <th mat-header-cell *matHeaderCellDef> N° Tarjeta </th>
              <td mat-cell *matCellDef="let element"> {{element.tarjetacredito}} </td>
          </ng-container>

          <!-- Columna de tipo_cobro -->
          <ng-container matColumnDef="tipo_cobro">
              <th mat-header-cell *matHeaderCellDef> Tipo de cobro </th>
              <td mat-cell *matCellDef="let element"> {{element.tipo_cobro}} </td>
          </ng-container>

          <!-- Columna de numero_clientes -->
          <ng-container matColumnDef="numero_clientes">
              <th mat-header-cell *matHeaderCellDef> N° clientes asociados </th>
              <td mat-cell *matCellDef="let element"> {{element.numero_clientes}} </td>
          </ng-container>

          <!-- Columna de monto -->
          <ng-container matColumnDef="monto">
              <th mat-header-cell *matHeaderCellDef> Monto a pagar ($)</th>
              <td mat-cell *matCellDef="let element"> {{element.monto}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsCobro"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsCobro;"></tr>
      </table>


    </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
